*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
   
}
html{
    position: relative;
}
body{
background-color: black;
color: azure;

}
#header{
    height:100vh;
    width:100%;
   background-image:url(/images/background.png);
   background-size: cover;
   background-position: center;
 
}
.left img{
   position:absolute;
   top:2vw;
   left:7vw;
   height: 4vw;
   width: 8vw;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4vw;
   padding-right: 4vw;
    
}
nav .right a{
    color: aliceblue;
   text-decoration: none;
   position: relative;
   margin-bottom: 2vw;
 margin-left: 3vw;
}
  
nav a::after{
content: '';
width:0;
height:3px;
background:#ff004f;
position: absolute;
left: 0;
bottom:-6px;
transition: 0.5s;
}
nav a:hover::after{
    width: 100%;

}
.text{
    color: aliceblue;
    padding-left: 7vw;
    padding-top: 6vw;
    font-size:1.5vw;
}


.text span{
    color: #ff004f;
    font-weight:500;
}


/*--------About-------*/


 #about{
padding-left: 6vw;
padding-right: 4vw;
color: #ababab;
 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .col-1{
    flex-basis: 35%;
 }
 .col-1 img{
   width:100%;
   border-radius: 1vw;
 }
 .col-2{
    flex-basis:60%;
 }
 .my-self{
    display: flex;
   
   justify-content: center;
    
    gap:5vw;
    margin-top: 3vw;
 }
.self1 p,.self2 p,.self3 p{
    font-size: 1.7vw;
    margin-bottom: 1vw;
    position: relative;
}
.self1 p::after{
    content: '';
width:0;
height:3px;
background:#ff004f;
position: absolute;
left: 0;
bottom:-6px;
transition: 2s;
}
.self1 p:hover::after{
width: 100%;
}
.self2 p::after{
    content: '';
width:0;
height:3px;
background:#ff004f;
position: absolute;
left: 0;
bottom:-6px;
transition:2s;
}
.self2 p:hover::after{
    width: 100%;
}
.self3 p::after{
    content: '';
width:0;
height:3px;
background:#ff004f;
position: absolute;
left: 0;
bottom:-6px;
transition:2s;
}
.self3 p:hover::after{
    width: 100%;
}

.self1 li,.self2 li,.self3 li{
    font-size:o.5vw;
    
}
.self1 span,.self2 span,.self3 span{
    font-size:smaller;
    color: #d60044;
}
.self1 ul,.self2 ul,.self3 ul{
    opacity: 0;
}
/*-----------------services----------------*/
#service{
    margin-bottom: 3vw;
}
.heading{
    padding-left: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: #ababab;
}
.details{
    padding-left: 6vw;
    padding-top: 2vw; 
}
.details ul{
    display: flex;
    justify-content: flex-start;

}
.details li{
    list-style-type: none;
    margin-right: 6vw;
    padding:1VW 2VW;
    
}
.details li i{
    font-size: 2.5vw;
}

.details li p{
   font-size:1vw;
   font-weight: 100;
 
}
#ONE,#TWO{
    background-color: rgb(65, 65, 65);
    border-radius: 1VW;
}
#ONE:hover{
   transform: translateY(-10px);
   background-color: #ff004f;
  transition: 0.5S;
}
#TWO:hover{
   transform: translateY(-10px);
   background-color: #ff004f;
  transition: 0.5S;
}
/*------------------portfolio-------------*/
.title{
padding-left: 6vw ;
padding-bottom: 3vw;
padding-top: 2vw;
color: #ababab;
}

.my-work-list{
height:100%;
width:100%;
display: flex;
justify-content: space-between;
text-align: center;
padding-left:5vw;
padding-right: 3vw;
gap: 1.5vw;
    
}
.work{
position: relative;
overflow: hidden;
border-radius: 1vw;
}
.work a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    padding:10px 12px;
    border-radius: 50%;
    background-color: aliceblue;
}

    
.work img{
width: 100%;
border-radius: 1vw;
display: block;
transition:transfrom 1s;
}
.layer{
height:0;
width: 100%;
background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
position:absolute;
left: 0;
bottom: 0;
overflow: hidden;
object-fit: cover;
display: flex;
justify-content: center;
align-items:center;
flex-direction: column;
transition: height 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: #ff004f;
}

/*---------------contact from---------------*/
#contact-me{
    display: flex;
    justify-content:space-around;
    align-items: center;
  padding-bottom: 5vw;

}
.contact-left{
   display:flex;
   flex-direction: column;
   gap:2vw;
   padding-bottom:2vw ;
}
.contact-left h1{
    font-size:3rem;
}
.contact-left #mail{
    color: #ff004f;
    text-decoration: none;
    display: flex;
    gap: 1vw;
    align-items: center;
    
}
.contact-left .ri-mail-fill{
    font-size: 1.5vw;
}
.contact-left .ri-phone-fill{
    color: #ff004f;
    margin-right: 1vw;
    font-size: 1.5vw;
}
.contact-left h3{
    font-size:1vw;
}
.social a{
    text-decoration: none;
    color:#ababab;
    display:inline-block;
    margin-right:1vw;
   font-size: 1.3vw;
} 
#btn1{
    width: fit-content;
     text-decoration: none;
     border: 2px solid black;
     border-radius:0.5vw;
     background-color: #ff004f;
    padding:0.5vw 0.7vw;
    color: #fff;
    transition: 0.5s;
}
#btn1:hover{
    transform: scale(1.1);
    border: 1px solid snow;
}
.contact-right{
    flex-basis: 60%;
   
}
.contact-right form{
  width: 100%;
 
}
.contact-right form input{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    color: #fff;
    margin: 15px 0;
    font-size: 18px;
    border-radius:0.5vw;
}
.contact-right form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 20px;
    color: #fff;
    margin: 15px 0;
    font-size: 18px;
    border-radius:0.5vw;
}
.contact-right #btn2{
    width:fit-content;
    padding: 0.5vw 0.7vw;
    border: 2px solid #000000;
    border-radius:0.5vw;
    background-color: #ff004f;
    color: #fff;
    transition: 0.5s;
}
.contact-right #btn2:hover{
    transform: scale(1.1);
    border: 1px solid snow;
}  
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #262626;
    padding: 0.5vw 0;
   
}
footer i{
   color: red;
}
  /*---------------------------------responsive--------------------------------*/
  .ri-menu-2-line{
    opacity:0;
  }
  .ri-close-line{
    opacity: 0;
  }
 
  @media only screen and (max-width:600px){
    body{
        overflow-x:hidden;
    }
    
    #header{
        background-image: url(/images/phone-background.png);
    
     
    }
    .text{
   margin-top: 100%;
   font-size: 3vw;
    }
   
    .left img{
      width:30vw;
      height: 15vw;
     }
        
    .ri-menu-2-line{
        position: absolute;
        top:3vw;
        right: 3vw;
        opacity: 1;
        
      }
      .ri-close-line{
        opacity: 1;
        width: fit-content;
        margin-top: 3vw;
        margin-left: 4vw;
        font-size: 6vw;
        border: 2px solid white;
        border-radius: 50%;
      }
  
     nav .right{
        position:fixed;
        background-color:#ff004f;
        top: 0;
        right: 0;
        width: 200px;
        height: 100%;
        opacity: 0;
        display: flex;
       
        flex-direction: column;
    }
    .right a{
        margin-bottom: 3vw;
    }
      .col-2 p{
        font-size: smaller;
       width:100%;
      }
      .col-1{
        margin-top:7vw;
        flex-basis: 100%;
      }
      .col-2 h1{
        font-size:30px;
       
      }
    .my-self{
        font-size: 12px;
    }
     .heading h1{
        font-size: 30px;
        height: fit-content;
     } 
     
     .details ul{
        flex-direction: column;
     gap: 5vw;
    
    }
     #ONE p{
     font-size: 12px;
       
    }
    #TWO p{
        font-size:12px;
    }
    #ONE i{
font-size: 7vw;
    }
    #TWO i{
        font-size:7vw;
    }
    .my-work-list{
        flex-direction: column;
        gap:5vw;
    }
    #contact-me{
        flex-direction: column;
    }
    .contact-left h1{
        font-size:29px;
    }
    .contact-left a{
        font-size:15px;
    }
    .contact-left .ri-mail-fill{
        font-size:20px ;
    }
    .contact-left #btn1{
        font-size: small;
        border-radius: 1vw;
    }
     .contact-left .ri-phone-fill{
        font-size:20px;
     }
     .contact-left h3{
        font-size: 5vw;
     }
     .contact-right{
       width:80%;
       height: 90%;
     }
     #btn2{
        margin-bottom:3vw;
        padding: 1vw 4vw;
        font-size: 15px;
     }
     footer p{
        font-size: 12px;
     }
     
  }  


