<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
   
    <div id="header">

        <nav>
            <div class="left">
               <img src="/images/WhatsApp Image 2024-07-02 at 08.29.25_1f6a29dc.jpg" alt="">
            </div>
            <div class="right">
                <i class="ri-close-line"></i><br><br>
                <a href="#header">Home</a>
                <a href="#about">About</a>
                <a href="#service">Services</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact-me">Contact me</a>
            </div>
        </nav>
        <i class="ri-menu-2-line"></i>
        <div class="text">
            <h1>Hi,<br> I'm <span>anjan</span><br>And I'm passionate</h1> <span id="element"></span>
        </div>
    </div>
<!------------------About-------------->  
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <img src="/images/user.png" alt="">
                </div>
                <div class="col-2">
                    <h1>About me</h1>
                    <p>Hi there! I’m anjan mondal, a computer science student at swami vivekananda university. I’ve been working on self-learning courses for the past few months, and I’m excited to be part of the team here at swami vivekananda university.

                        I love teaching myself new things. I started with programming in high school and college, then learned about computer science, web development , and all the rest. Now that I’ve gotten a taste of teaching myself, I can’t stop. It’s advantageous, and I hope to learn more about the field as my career progresses.</p>

                        <div class="my-self">
                            <div class="self1">
                                <p>Skills</p>
                                <ul>
                                   <li><span>Data Structures & Algorithms</span><br>JAVA</li>
                                    <li><span>Web Development</span><br> Website Development</li>
                                    <li><span>Frontend Development</span><br>HTML,Java Script,Css</li>
                                    <li><span>Backend Development</span><br>Node js,Mongodb,Express js,React js</li>
                                </ul>
                            </div>
                            <div class="self2">
                                <p>Experience</p>
                               <ul>
                                <li><span>Freshers</span><br>Not Yet Any Experience</li>
                               </ul>
                            </div>
                             <div class="self3">
                                <p>Education</p><br>
                                <ul>
                                    <li><span>2016</span><br>secondary from BNCV Kolkata</li>
                                    <li><span>2018</span><br>higher secondary from NHS Kolkata</li>
                                    <li><span>2020</span><br>Diploma from MBCIT Burdhaman</li>
                                    <li><span>2023-2026</span><br>B-tech from SVU West Bengal</li>
                                    
                                </ul>
                             </div>
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
<!------------------services----------->
    
<div id="service">
        <div class="container">
            <div class="my-services">
               <div class="heading">
                <h1>My Services</h1>
               </div>
               <div class="details">
                <ul>
                    <li id="ONE"><i class="ri-code-s-slash-line"></i>
                    <h3>Web Design(Frontend)</h3>
                <p>Web design is the process of planning, conceptualizing, and arranging content online. Today, designing a website goes beyond aesthetics to include the website’s overall functionality. Web design also includes web apps, mobile apps, and user interface (UI) design, and user experience (UX).</p></li>
                <li id="TWO"><i class="ri-nodejs-line"></i>
                <h3>Backend Development</h3>
            <p>Backend Development refers to the server-side development of the web application. It is the part of the application where the server and database reside and the logics is build to perform operations. It includes the main features and functionalities of the application on the server. Programming languages for the backend are mainly Node.</p></li>
                </ul>
               </div>
        </div>
        </div>

 <!----------------PORTFOLIO-------------->
<div id="portfolio">
    <div class="container">
        <div class="title"><h1>My Work</h1></div>
        <div class="my-work-list">
            <div class="work">
                <img src="images/work-1.png" alt="">
                <div class="layer">
                    <h3>My portfolio</h3>
                    <p>this portfolio added verious animation and it's to be responsive
                    </p>
                    <a href=""><i class="ri-external-link-line"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-2.png" alt="">
                <div class="layer">
                    <h3>music player</h3>
                    <p>this music player controll play stop etc features</p>
                    <a href=""><i class="ri-external-link-line"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="images/work-3.png" alt="">
                <div class="layer">
                    <h3>E-commerce web page</h3>
                    <p>This web page looking like amazon.</p>
                    <a href=""><i class="ri-external-link-line"></i></a>
                </div>
            </div>
        </div>
        <a href="" class="btn">see more</a>
    </div>
</div>   

<!-----------------contact from------------->
<div id="contact-me">
    <div class="contact-left">
        <h1>Contact Me</h1>
        <a href="" id="mail"><i class="ri-mail-fill"></i>mondalanjan1211@gmail.com</a>
        <h3><i class="ri-phone-fill"></i>8910468353</h3>
        <div class="social">
            <a href=""><i class="ri-facebook-circle-line"></i></a>
            <a href=""><i class="ri-instagram-line"></i></a>
            <a href=""><i class="ri-linkedin-box-line"></i></a>
            <a href=""><i class="ri-twitter-line"></i></a>
        </div>
        <a href="/images/ANJAN MONDAL.pdf" download id="btn1">Download CV</a>
    </div>
    <div class="contact-right">
        <form action="/" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="email" name="email" id="" placeholder="email">
            <textarea name="massage" id="" placeholder="massage"></textarea>
            <input id="btn2" type="submit" value="submit">
        </form>
    </div>
    
</div>
<footer>
    <p>copyright © Anjan. Made with<i class="ri-heart-fill"></i>by Anjan Mondal</p>
</footer>


           
            
            <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="javascript/script.js"></script>
    </body>
    </html>
                   
            